


.card-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    color:black;
    /* background: #efefef;  */
    width: 15%;

}

.card-section:hover{
   border-radius: 5px;
   color: red;
   
}



.style{
   font-size:  100px !important;
}

.invetario-card{
    width: 300px;
    height: 250px;
    color: #008037;
    display: flex;
    flex-wrap: wrap;
    margin: 7rem;
}

.inventariosproductos{
    font-size: 120px !important;
    color: none !important;
    background-color: #e4fae4;
    border-radius:47%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    margin-top: 50px;
}

/* .inventariosproductos:hover{
    background: none !important;
    color: black !important;

} */

.inventariosproductos::before{
    border: none !important;
    outline: none !important;
}

.link-card{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 56%;
    flex-wrap: wrap;
    margin: 1rem;
    /* padding: 100px; */
    gap: 100px;
    
}
