.card-section{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 335px;
    height: 300px;
    padding: 5%;
    text-decoration: none;
    color: #008037;
    /*background: #efefef;
    border-radius: 25px;*/
    
  
}

.card-section:hover{
    /* box-shadow: 0px 0px 40px #008037; */
    background-color: rgba(241, 243, 244, 1);
   border-radius: 5px;

}

.link-card{
    display: flex;
    gap: 50%;
    flex-wrap: wrap;
    height: 5em;
    margin-top: 5%;
}


.style{
   font-size:  100px !important;
}

.invetario-card{
    width: 300px;
    height: 250px;
    color: #008037;
}
