.navbar{
    background: transparent; 
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.navbar.active{
     background:linear-gradient(70deg,red,rgb(0, 161, 0) 60%,white 0% ); 
   
    
    
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}
.sunbNavLinkDisabled{
    color: transparent !important;
    border: none !important;
    background: transparent;
}

.subHeader {
    display: flex;
    justify-content: space-evenly;
    background-color: currentColor;
    height: 50px;
    align-items: center;
}

.separar{
    border-right: 3px solid;
    padding: 2px 13px;
    text-align: center;
}