.navbar {
    background: transparent;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;


}

.navbar.active {
    background: linear-gradient(70deg, #008037 60%, white 0%);
}

.filtro-Input {
    margin: 10px 0 0 0;
    height: 38px;
    border-radius: 40px;
    text-align: center;
    width: 70%;
}

.filtro-Input:focus-visible{
    box-shadow: #008037 !important;
    text-shadow: #008037;

    outline-offset: none;
    outline:none;
}


.tool-text {

    color: #000;
    background-color: white;
    padding: 15px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.sunbNavLinkDisabled {
    color: transparent !important;
    border: none !important;
    background: transparent;

}

.subHeader {
    display: flex;
    justify-content: space-evenly;
    background-color: currentColor;
    height: 50px;
    align-items: center;

}

.separar {
    border-right: 3px solid;
    padding: 2px 13px;
    text-align: center;
}

.button-menu {
    font-size: 22px;
   
}

.media{
    background: none;
    border: 0px;
    color: #008037;
}


.buttom1{
    background:none;
    border: 0px;
    color: #008037;
}


.buttom1:hover {
    background: none !important;
    border: 0px !important;
    color: red !important;
}

.buttom1:focus {
    box-shadow: 0 0 0 0 !important;
}

.sidebar1 {
    background: #008037;
    color: white;
    text-align: center;
    width: 23em !important;
}


.emblema {
    /* text-align: center; */
    /* animation: animate 5s infinite linear; */
    /* font-size: 200%; */
    font-family: 'Water Brush', cursive;
    width: 90px;
    height: 60px;
  
   

}

.header-sildebar1{
    height: 15%;
    display: flex;
    border-radius: 100%;
    width: 34%;
    text-align: center;
    background: white;
    align-items: center;
    justify-content: center;
   
}

.content-select{
    border-radius: 40px;
}

/* .h1,h1{
    text-align: center !important;
    color: #008037 !important;
} */

.nav-cuadro{
    height: 40% ;
    width: 40% ;
}

.cuadro.p-dialog .p-dialog-header{
    color: white !important;
    background-color: #008037 !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.interogacion{
    color: #000 !important;
    text-align:revert;
    font-size: 20px;
}
/* @media screen and (max-width:360px) and (max-height:740px) {
    .interogacion{
       
        font-size: 2px;
    }
} */


.p-dialog .p-dialog-content{
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

p.texto{
    color:black;
    font-size:22px;
    margin-top:15px;
}

p.informacion{
    color: #000;
    text-align:revert;
    margin-top:15px;
    font-size:22px;
}

p.preguntas1{
    font-size:19px !important;
}

p.preguntas2{
    font-size: 19px !important;
}

p.preguntas3{
    font-size: 19px !important;
}
.titlte-cart{
    padding: 5px;
}

.btnFiltro{
    background-color: #008037;
    color: white;
    width: 20%;
    height: 4rem;
    border-radius: 100%;
    border: solid 4px white;
}

@media (max-width: 1200px) {
    .sidebar1{
        width: 20rem !important;
    }
}
@media (max-width: 768px) {

    .button-menu {
        font-size: 20px;
    }

    .navbar.active {
        background: linear-gradient(70deg, #008037 50%, white 0%);
    }
}
@media screen and (max-width:360px) and (max-height:740px) {

    .nav-cuadro{
        height: 50% !important ;
        width: 40% !important;
    }
}


@media screen and (max-width:412px) and (max-height:915px) {
    .nav-cuadro{
        height: 50% ;
        width: 75% ;
    }
}
