.card-cart{
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

.img-cart{
    width: 30%;
    /* background: #eaebea; */
    /* border: 1px solid; */
    padding: 20px;
    border-radius: 30%;
    margin: 1rem;
    height: 15rem;
}

.cart-quantity{
    height: 50px;
    border-radius: 30px;
    text-align: center;
}

.content-cart-nameProduct{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.content-delete-cart{
   position: absolute;
   right: 0;
   top: 0;

}

.sectionCart{
    position: relative;
    /* padding-bottom: 229px; */
    width: 100%;
    padding: 5%;
    /* background: red; */
   
}

.title-total{
    font-size: 15px;
}

.Total-press {
position: sticky;
bottom: 0;
height: 37%;
z-index: 100;
background: white;
width: 100%;
box-shadow: 0px 0px 40px #e8e3e3;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;

}
.sidebar-cart .p-sidebar-content{
    padding: 0px !important;
    position: relative !important;
}
.section-operation{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 27px;
    color: black;
}
.item-total{
 font-size: 36px;
}
.Cart-empty{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}
.ca::before{
color: #008037 !important;

}
.titlte-cart{
    padding: 5px;
    background: red;
    position:sticky;
    z-index:20;
    width: 26%; 
    background: white;
    top:0;
    width: 100%;
}