.content-updateUser{
    margin-top: 235px;
    display: flex;
    justify-content: center;
}

.cont-update {
    display: flex !important;
    gap: 0;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.label-update{
    display: flex;
    align-items: initial;
}
.div-update{
    color: green;
    font-size: 40px;
}
.save-edit{
    margin-top: 20px;
}
.input-update {
    margin: 0;
    width: 48% !important;
    height: 45px;
    border-radius: 35px;
}