.btnDownloadPDF{
    background-color: white;
    border: none;
    margin-left: 30%;
}

.pdfDownload{
    color: red;
}


/* .datatable-doc-demo{
    width: 50% !important;
    height: 60% !important;
} */