.reserve-card{
    padding-top: 300px;
}
.reservesExpired {
    color: red;
    margin: 0 0 0 50px;
    text-decoration: none;

}
.PageReservesExpired{
    width: 20%;
    height: 55px;
    border-radius: 15px;
    box-shadow: 4px 6px 13px rgb(171, 168, 168);
    border: none;
   font-size: 26px;
   background: rgba(245, 241, 241, 0.646);
   color: red;
   margin-left: 40%;
}

.PageReservesExpired:hover{
    background-color: rebeccapurple;
    transition:all ;
}
.ReservesExpired{
    display: flex;
    align-items: center;
}

.btnChangeState{
    background-color: #008037;
    color: white;
    border: none;
    height: 5vh;
}

.titleReseves{
    color: white;
    margin-top: 18%;
    text-align: center;
}

.container-reserve{
    margin-top: -15%;
}

.containerTitle{
    background-color: #663399;
    width: 30%;
    height: 5vh;
    margin-top: 15%;
    margin-left: 35%;border-radius: 15px;
    box-shadow: 4px 6px 13px rgb(171, 168, 168);
    border: none;
}