.reserve-date{
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.cuadro.p-dialog .p-dialog-header{
    height: 65px;
}
.reserve-button{    
    width: 100px;
    box-shadow: 4px 6px 13px rgb(171 168 168);
    border: none;
    background: #008037 ;
}

.reserve-button:hover{
    background-color: #008037 !important;
}

.reserve-button:focus{
    background-color: #008037 !important;
}

.header-3{
    font-size: 25px;
}