@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Indie+Flower&family=Lobster&family=Rubik+Moonrocks&family=Signika:wght@300&display=swap');



.container_Carousel{
    margin-top: 14em;
    text-align: center; 
    /* padding: 13em; */
}
.carousel_item{
    display: flex !important;
}

.h3,h3{
    
    color: transparent !important;
}
/* .img,svg{
    width: 75% !important;
    height: 32em !important;
}  */

.car{
    padding-bottom: 70px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #008031 !important;
    border-radius: 100px;
}

.content-page-main{
    padding: 8em 0 0 0;
}

.cardOjeb{
    text-align: center;
    width: 20%; 
}
.cardImg{
    width: 100% !important;
    height: 100% !important;
   
    border-radius: 50px 0 0 0;
}


.p-panel .p-panel-header{
    height: 40px !important;  
}

.seew{
    width: 100% !important;
    text-align: center !important;
    font-size: 22px;
    justify-content: center;
}



.content-panel{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.p-panel .p-panel-content{
    z-index: 300;
}

.card{
    width: 20% !important;
    display: flex !important;
}

.seew-image{
    width: 100% !important;
    height: 50vh;
}

.content-seew{
    display: flex;
    position: relative;

   
}

.img1 ,
.img2{
   position: absolute;
   top: 0px;
   left:0px; 
   border: 0px;
   overflow: hidden;
   display: block;
}

.img2{
    clip:rect(0px, 100px, 100px, 0px);
}
.lupa{
    
    background-color: red !important;
    width: 50%;
    height: 50vh;
    position: relative;
}

.content-modal{
    width: 70%;
    height:700vh;
}

.img-card{
    width: 100%;
}
.cont-card{
    background-color: #008031;
    max-width: 24%;
}

.cont-press{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

 .conter_car {
  padding-top: 70px;
  width: 89%;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  
}

.car-product{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conter_car .car-product {
    text-align: center;
    width: 24rem;
    /* height: 27rem; */
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 3rem; */
    /* gap: 8px; */
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 40px #c9c8c8; */
    /* border: 1px solid ; */
  
}
.img-cardGif {
    width: 71%;
    height: 32vh;
    border-radius: 15px 15px 0 0;
    object-fit: unset;
    padding: 1rem;
}

.content-card-m{
    width: 100%;
    /* box-shadow: 0 0 40px rgb(168, 166, 166); */
    border-radius:15px ;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    border-bottom-style:inset ;
    box-shadow: 4px 6px 13px rgb(171, 168, 168);
    background-color: #fff ;
    /* border:20px transparent; */
}

.card-name-img{
    margin-top: 27px;
}

.content-press{
    display: flex;
    justify-content: space-around;
    gap: 7em;
}

.sud-content{
    /* border: 1px solid #008031; */
    display: flex ;
    flex-direction:column;
    width: 116%;
    box-shadow: 0 0 40px rgb(233, 235, 236);
    
}

.content-windows-observar{
    display: flex;
    justify-content: space-around;
}


#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}   

.column{
	width: 600px;
	padding: 10px;

}

#featured{
    /* max-width:600px; */
	width: 100%;
	height: 100%;

	cursor: none;
    /* border: 2px solid; */
    /* box-shadow: 0 0 40px #008031; */
	

}



#img-container{
	z-index: 1;
	/* max-width: 500px; */
    width: 40%;
	position: relative;
    display: flex;
    
    
    
    background-color: #008031;

    
}

#lens{
	z-index: 2;
	position: absolute;
	height: 150px;
	width: 150px;
    padding: 100px;
	/* border-radius: 100%; */
	background-repeat: no-repeat;
	cursor: none;
   
}

.description{
    width: 412px;
    font-size: 23px;
}

.divQuantity{
    display: flex;
    gap: 20px
}

.Quantity{
    text-align: center;
    border-radius: 12px;
    height: 50px;
    border: none;
    box-shadow: 0 0 12px #008031;
}

.Quantity:focus{
    outline: none;
}

.Quantity:focus-visible{
    outline: none;
}

/*==========================================================*/

/* CarouselDemo.css */

.product-item .product-item-content {
    border: 1px solid var(--surface-d) !important;
    border-radius: 3px !important;
    margin: .3rem !important;
    text-align: center !important;
    padding: 2rem 0 !important;
}

.product-item .product-image {
    width: 50% !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}
                 
.mb-3{
    display: flex;
   
    
}
.heart{
    position: absolute;
    top:1px;
    left: 14px;
    z-index: 7;
    background: none;
    border: none;
}

.heart-icon {
    font-size: 35px;
}
.heart-icon:hover{
    color: red;
}

.press{
    font-family: 'Signika', sans-serif;
    /* font-family: 'Fascinate', cursive; */
    /* font-family: 'Fascinate', cursive; */
    /* font-family: 'Lobster', cursive; */
/* font-family: 'Rubik Moonrocks', cursive; */
}

.observar-m{
    width: 100% !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    height:70px !important; 
    font-size: 25px;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom:  -4;
    left: 0;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
    color: transparent;
    
}
.car-product:hover .observar-m{
    background:rgba(137, 134, 134, 0.509);
    color: #fff;
}

.button-cart-register-Favorites{
    position: absolute;
    top: 3;
    left:20;
    border: none;
    background:none;
    
    
   
}
.button-cart-register-Favorites:hover{
    color: red;
}

.iconHeart{
    background-color: white;
    border: none;
    margin-right: -79%;
}
.botonFilter{
    background: red !important;
    bottom: 0;
}

.etiqueta{
    font-size: 50px !important;
    position: absolute;
    top: 1px;
    left:-35;
    border: none;
    background:none;
    color:chocolate;
    z-index: 7;
}


.section-footer{
    display: flex;
    justify-content: center;
}


