.container_Carousel{
    margin-top: 10px;
    text-align: center; 
    padding: 13em;
}
.carousel_item{
    display: flex !important;
}

.h3,h3{
    
    color: transparent !important;
}
.img,svg{
    width: 75% !important;
    height: 32em !important;
} 
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #008031 !important;
    border-radius: 100px;
}

.content-page-main{
    padding: 8em 0 0 0;
}

.car .cardOjeb{
    width: 20%;
    height: 15em;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin:0  3rem 12rem 3rem;
    
}
.cardImg{
    width: 100% !important;
    height: 100% !important;
   
    border-radius: 50px 0 0 0;
}
.car{
    display: flex;
    margin: 0 0rem;
    justify-content: center;
    flex-wrap: wrap; 
}

.p-panel .p-panel-header{
    height: 40px !important;  
}

.seew{
    width: 100% !important;
    text-align: center !important;
    font-size: 22px;
    justify-content: center;
}

/* 

.p-panel {
    margin-bottom: 100px !important;
} */

.content-panel{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.p-panel .p-panel-content{
    z-index: 300;
}

.card{
    width: 20% !important;
    display: flex !important;
}

.seew-image{
    width: 100% !important;
    height: 50vh;
}
.cursor{
   
    
   
}
.content-seew{
    display: flex;
    position: relative;

   
}
/* .zoom-contenedor, .area-zoom{
    position: relative;
}
.lupa{
    position: absolute!important;
    background-color: white !important;
    opacity: 8.5 !important;

}

.zoom-heigth{
    position: absolute !important;
    display: none !important;
    overflow: hidden !important;
}
.zoom-heigth image{
    position:absolute !important ;
} */

.img1 ,
.img2{
   position: absolute;
   top: 0px;
   left:0px; 
   border: 0px;
   overflow: hidden;
   display: block;
}

.img2{
    clip:rect(0px, 100px, 100px, 0px);
}
.lupa{
    
    background-color: red !important;
    width: 50%;
    height: 50vh;
    position: relative;
}

.content-modal{
    width: 70%;
    height:700vh;
}