.sildebar{
    background: #449e48;
    width: 5% ;
    height: 100vh;
    color: transparent; 
    transition: 2000ms;
    position: relative;
    
}

.sildebar:hover{
    width: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 500ms;
}


.content-Page{
    display: flex;
}

.button-new{
    background:transparent;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
}
.content-main{
    width: 100%;
}
