.recover-password{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.code-password{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.input-password{

}
.input-code{
    width: 50px;
    height: 40px;
}

.change-password{
    
}