.Book{
    font-size: 40px;
    color: #008037;
    
}

.Book:hover{
    color: red !important;
}

.button-book{
    background: none !important;
    border: none !important;
    padding: 0;

}
.button-book:hover{
    background: none !important;
    border: none !important;
   
    

}
.dialog-ArriveProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.img-productSearch{
    width: 40%;
    height: 27vh;
}
.img-productSearch2{
    background: rgb(200, 199, 199);
    width: 300px;
    /* border: 1px solid; */
    /* animation: img2; */
    animation: animate 2s infinite linear;
}

@keyframes animate {
   0%,
   100%{
    background: rgb(200, 199, 199);
    transition: 3s 0 35 0 0;
   }
   25% {
    background: grey;
    transition: 3s 0 35 0 0;
   }

}


.div-enter-button-table{
    display: flex;
    color: #008037;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.div-enter-button-table:hover{
    color: red;
}

.send{
 background: #008037;
    height: 55px;
    width: 20%;
    border-radius:30px ;
    text-align: center;
    display: flex;
    justify-content: center;
}

.send-toast{
    background: rebeccapurple;
    color: white;
    font-size: 30px;
    box-shadow: 0 0 40px white;
    border-radius: 20px;
    margin-bottom: 60px;
}