.Book{
    font-size: 40px;
    color: #008037;
    
}

.button-book{
    background: none !important;
    border: none !important;
}
.button-book:hover{
    background: none !important;
    border: none !important;
}
