.autoInput::before{
    position: relative;
    top:0px;
    
} 
.input-icon{
    margin: 5px 0 0 0;
    width: 30px;
    height: 25px;
}

.input-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
}

.autoInput{
    width: 400px;
    border-radius: 20px;
    text-align: center;

}