.autoInput::before{
    position: relative;
    top:0px;
    
} 
.input-icon{
    border-bottom: none;
    border: none;
    background: #008037;
    width: 30px;
    height: 25px;
    color: white;
    border-radius: 10px;
}

.input-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
}

.autoInput{
    margin: 0 0 0 45px;
    width: 400px;
    border-radius: 20px;

}