.autoInput::before{
    position: relative;
    top:0px;
    
} 

.icon-search{
    position:absolute;
    margin: 14px 0px 0px 15px;
}

.input-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
}

.autoInput{
    width: 400px;
    border-radius: 20px;
    text-align: center;

}

@media (max-width: 1200px) {
    .autoInput{
        width: 300px;
    }
}

@media (max-width: 992px) {
    .autoInput{
        width: 250px;
    }
}

@media (max-width: 768px) {
    .autoInput{
        width: 200px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .autoInput{
        /* width: 250px; */
    }
}