
/* .save-favorite{
  
    
    font-size: 24px;
    color: white;
    background:red;
    box-shadow: none;
    border: none;
    /* background: white; */

/*}*/
/*.heartfill::before{
    /* color: red !important;
}  */ 




/* ¨================card favorites*/

.car-favorite{
    position: relative;
    width: 20% ;
    display: flex;
    border-radius: 10px;
    
}

.content-img-favorite{
    /* background-color: #008031; */
    width: 100%;
    height:50%; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 37px;
    
}


.conter_car-favorite {
  padding-top:300px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  /* margin-top:50%; */
 
  
}



.conter_car-favorite .car-favorite {
    text-align: center;
    width: 24rem;
    height: 30rem;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 3rem; */
    /* gap: 8px; */
    /* flex-wrap: wrap; */
    box-shadow:0px 0px 40px #cdcaca;
    margin-bottom: 100px;
    /* border: 1px solid ; */
  
}
.img-favorito {
    width: 70%;
    height: 24vh;
    border-radius: 15px 15px 0 0;
    object-fit: unset;
    /* padding: 1rem; */
}
.content-price-favoritos{
    display: flex;
    justify-content: space-around;
    gap: 7em;
}




.observar{
    background-color: transparent;
    width: 100% !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    height: 55px !important;
    font-size: 25px;
    position: absolute;
    bottom: -40;
    color: transparent;
    border: none;
    left: 0;
   
    border-radius:10px ;
    transition:2s ;

}




.conte-buttom-favorite{
    position: absolute;
    top: 0;
   
    
}
.car-favorite:hover .observar{
background:rgb(239, 239, 3) ;
color: red;
}

.deleteFavorite{
    color: #008037 !important;
    position: absolute !important;
    right: 7;
    top: 10;
    z-index: 4;
}
.deleteFavorite::before{
    font-size: 27px !important;
}
/* .delete-product-cart{
    position: absolute;
    right: -8px;
    top: 5;
    z-index: 300;
    font-size: 50px !important;
} */

.delete-favoritos{
    
    border: none;
    position: absolute;
    right: 1;
    top: 10;
    background-color: transparent;
}