.cont-Register-product-2{ 
  
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: red; */

    
    
}
.form-control{
    width: 30% !important;
    
}
.form2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap:13px;
    /* background: black; */
    
    
}
.input-register{
    margin-top: 10px;
    width: 100% !important;
    height: 45px;
    border-radius: 35px;

}

.input-text-area{
    width: 100% !important;
    height: 45px;
}

.from-img{
    width: 100% !important;
}
.content-Input-file{
   
    width: 50%;
}

.paredCategories::before{
    content: "Categoria:";
    height: 2px;
    font-size: 20px;
}
.bottom-radio{
    width: 35px;
    height: 22px;
}
.content-bottom-radio{
    /* width: 100%; */
    display: flex;
    align-items: center;
    margin-right: 2em;
    padding: 3px;
    /* background-color: blue; */
    
}
.inputpress{
    border-radius: 6px;
    width: 47% !important;   
}
.cantidad{
    display: flex;
    width: 100%;
    gap: 28px;   
    justify-content: center
}

.input-quantyti .p-inputtext{
    width:10rem !important;
}

.input-register-price .p-inputtext{
    width:15rem !important;
}

.select-provedor{
    height: 38px;
    border-radius: 6px;
}

option{
    font-size:25px;
}
.button-save-Product{
    
   
    display: flex;
    gap:12px;
    justify-content: center;
    
   
}

.radioGroup{
    display: flex;
    flex-direction: column;
    border: none;
    height: 34px;
    box-shadow: 0 0 4px;
    text-align: center;
    align-items: center;
    width:180px;
}

.labelGroup{
    display: flex;
    flex-direction: column;
}

.category{
    display: flex;
    height: 10vh;
    font-size: 22px;

}

.paredProvider::before{
    content: "Proveedor:";
    height: 2px;
    font-size: 20px;
   
}

.selecProvider{
    height: 10vh;
    justify-content: space-around;
    font-size: 22px;
   
   
}

.optionsProdu{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    gap: 28px;
}

.p-inputnumber .p-component .p-inputwrapper .input-register .inputpress .input-number{
    width: 50px !important;
}

.box{
    box-shadow: 0 0 2px black;
}

@media screen and (width:1920px) {

    .cantidad{
       gap: 30px;
    }

    .optionsProdu{
        
        gap: 100px;
    
    }

    .optionsProdu{
        width: 100%;
        gap: 100px;
    }

    .input-quantyti .p-inputtext{
        width:13rem !important;
    }
    
}