.ayuda{
    margin: 310px 0 0 0;
    text-align: center;
    color: rgb(0, 133, 51)
}

.peinador{
    text-align: center;
    margin-top:12px;
    color: rgb(0, 133, 51)
}

.preguntas{
    text-align: center;
    font-size:18px;
    color:dimgray;
    margin-top:15px;
}
.preguntas1{
    text-align: center;
    font-size:18px;
    margin-top:20px;
    color:dimgray;
}
.preguntas2{
    text-align: center;
    font-size:18px;
    margin-top:20px;
    color:dimgray;
}
.preguntas3{
    text-align: center;
    font-size:18px;
    margin-top:20px;
    color:dimgray;
}

.interogacion{
    font-size:22px;
    color: black;
}