.datatable-templating-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-templating-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/***************************************************************************/
.datatable-templating-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-templating-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.table-produc .card{
    width: 100% !important;
}

.datatable-doc-demo .p-paginator .p-paginator-current {
    margin-left: auto;
}
.datatable-doc-demo .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;
}
.datatable-doc-demo .p-progressbar .p-progressbar-value {
    background-color: #607d8b;
}
.datatable-doc-demo .p-datepicker {
    min-width: 25rem;
}
.datatable-doc-demo .p-datepicker td {
    font-weight: 400;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    text-align: left;
}
.datatable-doc-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

.datatable-doc-demo{
    display: flex;
    justify-content: center;
    /* margin-top: 12rem; */
}
.card{
    width: 100% !important;
}

.p-input-icon-left > .p-inputtext{
    height: 51px;
}
.p-input-icon-left{
    margin-right: 15px;
}
.product-image{
    height: 7.5rem;
    width: 90%;
}

.p-datatable .p-datatable-tbody > tr:active{
    background-color: green !important;
    color: white !important;
}

/*prueba*/
.buttons{
    display: flex;
    justify-content: space-between;
    /* gap: 300px; */
    align-items: center;
}
    
.hide{
    visibility: hidden;
}

.card{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 90% !important;
}

.m-0{
    margin-left: 3% !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    /* padding: 20px 1px !important; */
}

.eye{
    font-size: 35px ;
}

.contentTheTable{
    width: 90%;
    box-shadow: 0 0 4px;
}

.button-header-tabla-demo{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-left:15px ;
}

.column-descrition{
    width: 20%;
    /* background-color: red; */
    text-align: center;
    
}
.p-datatable .p-column-header-content{
    /* display: none !important; */
    text-align: center !important;
}