@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cormorant+Garamond:ital,wght@1,700&family=Fredoka+One&family=Indie+Flower&family=Ms+Madi&family=Murecho:wght@200;400&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,300;1,900&family=Sigmar+One&family=Water+Brush&display=swap');


.form-demo{
    display: flex;
    justify-content: center;
    
    gap: 5%;
}

.card{
    width: 30% !important;
    display: flex;
    border: none;
    margin-left: 2%;
}

.mt-2{
    background-color:#008031 !important;   
    
}

.p-fluid .p-button-icon-only{
    background-color: #008031;;
}

.p-fluid .p-inputtext{
    border: solid 1px  #008031;
}

.p-fluid .p-inputtext:focus{
    
    box-shadow: 1px 1px 3px 1px #008031;
    border: 2px solid #008031;
}

.p-button-label{
    color: black;
}
.p-fluid .p-button{
    border: solid 3px white !important;
}

.p-float-label:focus{
    border: solid 10000003px #008031 !important;

}
.page-formUser{
    
    flex-direction: row !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding: 3em  !important;
    height: 70vh;
    
}
.page-register-footer{
    margin-top:400px;
    padding-top: 100px;
}
.title-form{
    font-family: cursive;
    font-size: 50px !important; 
    color:#008031;
}

.descrition{
    width: 30%;
    margin-right: 7%;   
}

.descrition .p-panel-header{
    height: 50px !important; 
    background-color: #008031; 
    /* background:#449e48; */
    color: white;
    font-size: 22px;
    border-radius: 5%;
    background-image: linear-gradient(to right #008031, rgb(34, 7, 7)  ) !important;
}

.p-button-label{
    color: white !important;
}