
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cormorant+Garamond:ital,wght@1,700&family=Fredoka+One&family=Indie+Flower&family=Ms+Madi&family=Murecho:wght@200;400&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,300;1,900&family=Sigmar+One&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Indie+Flower&family=Lobster&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Indie+Flower&display=swap');


.name{
    font-size: 18px;
    position: relative;
    right: 24px;
    font-family: 'Alfa Slab One', cursive;
    /* font-family: 'Indie Flower', cursive; */
    color:#008031;
    padding: 5px;
    
    
}